<%= form_for([@appointment,@payment]) do |f| %>

<%total=0%>
    <%@appointment_procedures.each do |pago|%>
      <%total+=pago.procedure.costo%>
  <%end%>
  <strong>Total a pagar: <%=total%></strong>
  <div class="field campos-texto">
    <%= f.label :costo_total %><br>
    <%= f.number_field :costo_total %>
  </div>
  <div class="field campos-texto">
    <% f.label :tipo_pago %><br>
    <%=f.select :tipo_pago, [['Tarjeta Credito/Debito', 'Tarjeta Credito/Debito'], ['Efectivo', 'Efectivo']]%>

  </div>
  <div class="actions">
    <%= f.submit "Actualizar"%>
  </div>
<% end %>
