<%= form_for(@procedure) do |f| %>

  <div class="field campos-texto">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field campos-texto">
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion %>
  </div>
  <div class="field campos-texto">
    <%= f.label :costo %><br>
    <%= f.number_field :costo %>
  </div>
  <div class="actions">
    <%= f.submit "Añadir tratamiento"%>
  </div>
<% end %>
