<%= form_for(@appointment) do |f| %>


  <div class="field campos-texto">
    <%= f.label :fecha_programada %><br>
    <%= f.date_field :fecha_programada,  class:"input-group datepicker" %>
  </div>

  <div class="field campos-texto">
    <%= f.label :hora_programada %><br>
    <%= f.time_field :hora_programada%>
  </div>

  <% if current_user.try(:admin?)%>
      <div class="field campos-texto">
        <%= f.check_box :aceptada %>
        <%= f.label :aceptada %><br>
      </div>

  <%end%>

  <%if @appointment.aceptada==true%>
  <div class="field campos-texto">
        <%= f.check_box :finalizada %>
        <%= f.label :finalizada %><br>
      </div>
  <%end%>
  <div class="actions top-formulario">
    <%= f.submit "Programar cita"%>
  </div>
<% end %>
